{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
<div class="container">
  <h1>You are now logged in!</h1>
  <h2><a href="/dashboard">Go to dashboard</a></h2>
</div>
{% endif %}
  <div class="container p-4" >
    <h1 class="text-center display-4">Welcome to task manager </h1>
    <hr>
      <ul>
        <li><h4>task manager </h4></li>
        <li><h4>more visable  </h4></li>
        <li><h4>task manager </h4></li>
        <li><h4>task manager </h4></li>
      </ul>
    </div>

{% endblock %}
